
<div class="ui main text container">
    <div class="ui basic segment center aligned"><p>A RESTful blog using vanilla JS, </p>
        <p>NodeJS, Express, EJS view-engine, </p>
        <p>body-parser, MongoDB and some minor npm-packages</p>
        <p>Done on December 2018</p>
    </div>
</div>
</body>
</html>